.sector line {
	stroke: black;
	stroke-width: 4;
}

.sector line.off {
	stroke: silver;
	stroke-width: 3;
}

.sector text {
	stroke: blue;
	stroke-width: 1;
}

.sector rect.seleccionada {
	fill: aquamarine;
}

.sector rect.oculta {
	fill: none;
}

div.estado {
	border: thin solid gray;
	background-color: #e0e0e0;
}

.estado pre {
	font-size: .7em;
}

div.teletipo {
	border: thin solid gray;
}

div.teletipo li.even {
	background-color: #e0e0e0;
}

div.teletipo li.odd {
	background-color: white;
}

.pure-form legend {
	display: block;
	border: none;
	padding: 0 0.5em;
	width:auto;
}
