.sector line {
	stroke: black;
	stroke-width: 4;
}

.sector line.off {
	stroke: silver;
	stroke-width: 3;
}

.sector text {
	stroke: blue;
	stroke-width: 1;
}

.sector rect.seleccionada {
	fill: aquamarine;
}

.sector rect.oculta {
	fill: none;
}

div.estado {
	border: thin solid gray;
	background-color: #e0e0e0;
}
.estado pre {
	font-size: .7em;
}

div.teletipo {
	border: thin solid gray;
}

div.teletipo li.even {
	background-color: #e0e0e0;
}
div.teletipo li.odd {
	background-color: white;
}

fieldset {
	  display: block;
  -webkit-margin-start: 2px;
  -webkit-margin-end: 2px;
  -webkit-padding-before: 0.35em;
  -webkit-padding-start: 0.75em;
  -webkit-padding-end: 0.75em;
  -webkit-padding-after: 0.625em;
  border: 2px groove threedface;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  min-width: -webkit-min-content;
}
legend {
	  display: block;
  -webkit-padding-start: 2px;
  -webkit-padding-end: 2px;
  border: none;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}

